/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.logo img {
    max-width: 40px; /* Cambia este valor para ajustar el tamaño del logo */
    height: auto; /* Asegura la proporción correcta */
}

/* Estilos para los servicios */
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los servicios horizontalmente */
    padding: 2em;
}

.servicio {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 1em 0;
    padding: 1.5em;
    text-align: center;
    width: 80%; /* Ajusta el ancho según tus preferencias */
    max-width: 400px; /* Limita el ancho máximo de cada servicio */
}
